* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "KoHo", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  color: #e5e5e5;
}

/* BOOT */
html,
body {
  overflow-x: hidden;
  height: 100%;
  background-color: #505050;
  background: linear-gradient(135deg, #505050 0%, #000000 100%);
}

p,
h1,
h2 {
  font-size: 25px;
  line-height: 32px;
  color: white;
  max-width: 100%;
  margin: 0 auto;
}

.container {
  width: 1420px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.center {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.w33 {
  width: 33.333%;
  padding: 0 5%;
}

.w50 {
  width: 50%;
  padding: 0 2%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

/* STYLE */
.presentation h1 {
  padding: 15% 0 15px 0;
  font-size: 75px;
}

.my-presentation1 {
  padding: 70px;
  max-width: 1000px;
  color: #707070;
}

.presentation h2 {
  font-size: 50px;
}

.my-presentation2 {
  margin-top: 1%;
  font-size: 15px;
  font-weight: lighter;
  color: #707070;
}

.btn {
  padding: 30px 0;
  text-align: center;
  position: relative;
}

.btn ul li {
  list-style: none;
  display: inline-block;
  padding: 15px 11%;
}

.btn ul li a {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  padding: 20px 15%;
  color: #cccccc;
}

.btn ul li a::before {
  content: "";
  width: 404px;
  height: 70px;
  display: block;
  background: url(./img/layout-page/rectangle-btn-color.svg) no-repeat center;
  position: absolute;
  top: 55px;
  left: 280px;
}

.btn ul li a::after {
  content: "";
  width: 404px;
  height: 70px;
  display: block;
  background: url(./img/layout-page/rectangle-btn-color.svg) no-repeat center;
  position: absolute;
  top: 55px;
  left: 720px;
}

.redes {
  text-align: center;
  padding: 20px 0;
}

.redes ul li {
  list-style: none;
  display: inline-block;
  padding: 0 2.5%;
}

.redes a img {
  width: 40px;
}

.img-bg {
  position: absolute;
}

.img1 {
  width: 590px;
  top: -100px;
  left: -400px;
}

.img2 {
  width: 300px;
  top: 400px;
  left: 1200px;
}

.img3 {
  width: 200px;
  top: 750px;
  left: 50px;
}

@media screen and (max-width: 1480px) {
  .w50 {
    padding: 0;
  }
}

@media screen and (max-width: 1280px) {
  .center {
    padding: 0;
  }

  .tittle {
    padding: 60px 10%;
  }
}

@media screen and (max-width: 1280px) {
  .w50 {
    width: 100%;
    padding: 0 10%;
  }

  .about-me {
    height: 500px;
  }
}

@media screen and (max-width: 1080px) {
  .w50 {
    padding: 0;
  }

  .my-name {
    padding-bottom: 50px;
  }

  .my-presentation1,
  .my-presentation2 {
    padding: 0 10%;
  }

  .my-presentation1 {
    padding-bottom: 40px;
  }

  .my-presentation2 {
    padding-bottom: 90px;
  }

  .about-me {
    height: 530px;
  }
}

@media screen and (max-width: 757px) {
  .about-me {
    height: 550px;
  }

  .tittle h1 {
    max-width: 390px;
  }

  .tittle h1::after {
    top: 35px;
    left: 1%;
  }
}

@media screen and (max-width: 700px) {
  .desktop ul {
    max-width: 100%;
    margin: 0 10%;
  }
}

@media screen and (max-width: 610px) {
  .desktop ul {
    margin: 0;
  }
}

@media screen and (max-width: 512px) {
  .desktop ul {
    width: 100%;
  }

  .center {
    margin: 0;
  }

  .desktop {
    margin: 0 auto;
  }

  .tittle {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 397px) {
  .tittle h1::after {
    top: 45px;
  }

  .center {
    margin: 0;
  }

  .tittle {
    margin: 0 auto;
  }
}
